<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Posts list
  </div>
  <div class="card-body">
    <table class="table table-bordered table-orange">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Enabled</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of posts">
        <td>{{ p.id }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.category.name }}</td>
        <td>{{ p.enabled }}</td>
        <td>{{ p.createdAt.date|date:'short'}}</td>
        <td>
          <button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>
          <button class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>